Assignment One

In [ ]:
import requests

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
website_url = requests.get(url).text

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(website_url,'lxml')
print(soup.prettify())

In [ ]:
my_table = soup.find('table',{'class':'wikitable sortable'})
print(my_table)

In [ ]:
links = my_table.findAll('td')
# str(links[5])[4:-6]
links[0]

In [ ]:
f'number of rows in our table is: {len(links)/3}'

'number of rows in our table is: 287.0'

In [ ]:
Postcodes = [] 
Bouroughs = [] 
Neighbourhoods = []

i = 0

for word in links:
  if i%3 == 0:
    Postcodes.append(word.get_text().strip())
    
  elif i%3 == 1:
    Bouroughs.append(word.get_text().strip())
  
  elif i%3 == 2:
    Neighbourhoods.append(word.get_text().strip())
  i+=1
Bouroughs

In [ ]:
len(Neighbourhoods) == len(Bouroughs) == len(Postcodes)

True

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()
df['Postalcodes'] = Postcodes
df['Bourough'] = Bouroughs
df['Neighbourhood'] = Neighbourhoods
df[df['Postalcodes']== 'M1R']

    Postalcodes     Bourough Neighbourhood
163         M1R  Scarborough      Maryvale
164         M1R  Scarborough       Wexford

In [ ]:
indexes = []
for index, row in df.iterrows():
  if row['Bourough'] == 'Not assigned':
    indexes.append(index)
    continue
  elif row['Neighbourhood'] == 'Not assigned':
    row['Neighbourhood'] == row['Bourough']
df.head()

  Postalcodes          Bourough     Neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

In [ ]:
df.drop(indexes, inplace=True)
df.head()

  Postalcodes          Bourough     Neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor

In [ ]:
df1 = df.groupby('Postalcodes')['Neighbourhood'].apply(', '.join).reset_index()
df1.head()

  Postalcodes                           Neighbourhood
0         M1B                          Rouge, Malvern
1         M1C  Highland Creek, Rouge Hill, Port Union
2         M1E       Guildwood, Morningside, West Hill
3         M1G                                  Woburn
4         M1H                               Cedarbrae

In [ ]:
df = pd.merge( df[['Postalcodes','Bourough']], df1[['Postalcodes','Neighbourhood']], on='Postalcodes')
df.head()

  Postalcodes          Bourough                     Neighbourhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto                      Harbourfront
3         M6A        North York  Lawrence Heights, Lawrence Manor
4         M6A        North York  Lawrence Heights, Lawrence Manor

In [ ]:
df.shape

(210, 3)